

    HTML CSS 

    Result
    Skip Results Iframe

EDIT ON

body {
  margin: 0;
  padding: 0;
  background: #ccc;
  width: 100%;
}
 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
}
.leTableau {
  width: 80%;
  
  padding-left: 10%;
}

.lebandeau{
  width: 100%;
  border: solid 1px black;
  padding-bottom: 10px;
}
.lebandeau span{
  display: inline-block;
  width: 11%;
  text-align: center;
  margin: 2px;
  
}

.uneLigne{
border: solid 1px black;
}
.uneLigne span{
  display: inline-block;
  width: 11%;
  text-align: center;
  margin: 2px;
}

.lesEquipes{
  width: 100%;
  margin-left: 5%;

}

.uneEquipe{
  display: inline-block;
  width: 26%;
  border: solid 1px black;
  text-align: center;
  margin-right: 2%;
  margin-bottom: 2%;
  border-radius: 50px;
  padding: 1%;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.uneEquipe:hover{
  transform: scale(1.05);
}



